@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  }

  body {
    background: #f3f4f6;
  }

  ul {
    list-style: none;
  }
}
