@import 'tailwindcss';

@layer base {
  * {
    @apply m-0 p-0 box-border;
    font-family:
      'Poppins',
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      sans-serif;
  }

  ul {
    @apply list-none;
  }
}
